.homeContainer {
    width: 64vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    
}

/* First Part */
.homeHeader {
    width: 100%;
    height: 600px;
    background-image: url("../../assets/home/desktop/image-hero-coffeepress.jpg");
    
    border-radius: 20px;
    margin-top: 6vh;
}

.textContainer {
    width: 493px;
    margin-top: 10vh;
    margin-left: 5vw;
}

.textH1 {
    color: #FEFCF7;
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: 72px;
}

.textBody {
    width: 440px;
    height: 78px;
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    opacity: 0.8;
    color: #FEFCF7;
}

.tagContainer {
    display: flex;
    width: 217px;
    height: 56px;
    background-color: #0E8784;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
}

.linkTag {
    color: #FEFCF7;
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
}

/* Second Part */

.productsContainer {
    width: 1111px;
    height: 525px;
    position: relative;
    margin-top: 15vh;
    margin-bottom: 15vh;
}

.ourCollection {
    display: flex;
    justify-content: center;
    font-family: 'Fraunces', serif;
    font-size: 150px;
    font-weight: 900;
    background: #83888F;
    background-image: linear-gradient(180deg, rgba(254, 252, 247, 0.1) 0%, #FEFCF7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: none;
}

.productsGrid {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 12vh;
}

.productCard {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.coffeeImg {
    width: 255px;
    height: 193px;
}

.coffeeName {
    color: #333D4B;
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: 24px;
}

.coffeeDescription {
    width: 255px;
    height: 78px;
    font-family: 'Barlow', sans-serif;
    color: #333D4B;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
}

/* Third Part "Why choose us" */

.whyContainer {
    width: 1280px;
    height: 728px;
    position: relative;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15vh;
}

.whyContainer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    background-color: #2C343E;
}

.whyH1 {
    position: relative;
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: 40px;
    color: #FEFCF7;
    margin-top: 10vh;
    margin-bottom: 0;
}

.whyP {
    width: 540px;
    height: 80px;
    position: relative;
    text-align: center;
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
}

.whyGrid {
    display: flex;
    flex-direction: row;
    position: relative;
    gap: 10px;
}

.whyCard {
    width: 350px;
    height: 382px;
    background-color: #0E8784;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.whyCardImg {
    width: 72px;
    height: 72px;
}

.whyCardTitle {
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: 24px;
    color: #FEFCF7;
    text-align: center;
}

.whyCardDescription {
    text-align: center;
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
}

/* Part Four "How its Works" */

.howContainer {
    width: 1045px;
    height: 565px;
}

.howH1 {
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: 24px;
    color: #83888F;
}

.howGrid {
    display: flex;
    flex-direction: row;
    gap: 4vw;
    margin-bottom: 5vh;
}

.howCard {
    width: 285px;
    height: 355px;
}

.howNumber {
    color: #FDD6BA;
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: 72px;
}

.howTitle {
    width: 255px;
    color: #333D4B;
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: 32px;
}

.howDescription {
    color: #333D4B;
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

/* Responsive  */

@media (min-width: 768px) and (max-width: 1023px) {
    body {
        width: 100vw;
    }
    .homeContainer {
        width: 689px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .homeHeader {
        width: 689px;
        height: 500px;
        background-image: url("../../assets/home/tablet/image-hero-coffeepress.jpg");
        background-size: cover;
        background-position: center center;
    }
    .textContainer {
        width: 398px;
        height: 292px;
    }
    .textH1 {
        font-size: 48px;
    }
    .textBody {
        font-size: 15px;
        
    }
    .productsContainer {
        width: 100%;
        height: 927px;
        display: flex;
        justify-content: center;
    }
    .ourCollection {
        width: 689px;
        height: 118px;
        font-size: 96px;
    }
    .productsGrid {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .productCard {
        display: flex;
        flex-direction: row;
        width: 573px;
        height: 193px;
    }
    .coffeeDescription {
        text-align: start;
        width: 282px;
        font-size: 15px;
    }

    /*  */
    .whyContainer {
        width: 688px;
        border-radius: 10px;
        height: 1021px;
        justify-content: space-evenly;
    }
    .whyContainer::before {
        border-radius: 10px;
        height: 70%;
    }
    .whyH1 {
        font-size: 32px;
    }
    .whyGrid {
        flex-direction: column;
        gap: 25px;
    }
    .whyCard {
        width: 573px;
        height: 180px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .whyCardImg {
        width: 56px;
        height: 56px;
    }
    .whyCardTitle {
        font-size: 24px;
        width: 255px;
    }
    .whyCardDescription {
        width: 344px;
        font-size: 15px;
        text-align: start;
    }
    /*  */
    .howContainer {
        width: 689px;
        height: 622px;
    }
    .howH1 {
        width: 255px;
    }
    .howGrid {
        display: flex;
        flex-direction: row;
        gap: 1.5vw;
        margin-bottom: 5vh;
    }
    .howCard {
        width: 223px;
        height: 371px;
    }
    .howTitle {
        width: 223px;
        font-size: 28px;
    }
    .howDescription {
        width: 223px;
        font-size: 15px;
    }
}

@media screen and (max-width: 767px) {
    body {
        width: 100vw;
    }
    .homeHeader {
        background-image: url("../../assets/home/mobile/image-hero-coffeepress.jpg");
        width: 327px;
        height: 500px;
        display: flex;
        justify-content: center;
        background-size: contain;
        background-repeat: no-repeat;
        border-radius: 10px;
        margin-top: 15vh;
    }
    .textContainer {
        width: 279px;
        height: fit-content;
    }
    .textH1 {
        font-size: 40px;
    }
    .textBody {
        font-size: 15px;
        width: 279px;
        height: 101px;
    }
    .productsContainer {
        width: 100%;
        height: 1321px;
        display: flex;
        justify-content: center;
    }
    .ourCollection {
        width: 375px;
        height: 75px;
        font-size: 40px;
    }
    .productsGrid {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .productCard {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: fit-content;
    }
    .coffeeName {
        text-align: center;
    }
    .coffeeDescription {
        text-align: center;
        width: 282px;
        font-size: 15px;
    }
    .whyContainer {
        width: 90vw;
        border-radius: 10px;
        height: 1021px;
        justify-content: space-evenly;
        margin-top: 10vh;
    }
    .whyContainer::before {
        border-radius: 10px;
        height: 70%;
    }
    .whyH1 {
        font-size: 32px;
    }
    .whyGrid {
        flex-direction: column;
        gap: 25px;
    }
    .whyCard {
        width: 70vw;
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center;
        align-items: center;
    }
    .whyCardImg {
        width: 56px;
        height: 56px;
    }
    .whyCardTitle {
        font-size: 24px;
        width: 255px;
    }
    .whyCardDescription {
        width: 344px;
        font-size: 15px;
        text-align: start;
    }
    /*  */
    .howContainer {
        width: 327px;
        height: fit-content;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .howH1 {
        width: 100%;
    }
    .howGrid {
        display: flex;
        flex-direction: column;
        gap: 1.5vw;
        margin-bottom: 5vh;
        align-items: center;
        
    }
    .howCard {
        width: 223px;
        height: 371px;
    }
    .howTitle {
        width: 100%;
        font-size: 28px;
    }
    .howDescription {
        width: 100%;
        font-size: 15px;
    }
  }