.footer {
    width: 100vw;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #2C343E;
    align-items: center;
    margin-top: 10vh;
}

.logoImg {
    width: 235px;
    height: 25px;
    filter: invert(100%) sepia(0%) hue-rotate(180deg) saturate(100%);

}

.iconContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 24px;
    width: 120px;
}