.aboutUsContainer {
    width: 1280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.aboutUsHeader {
    width: 100%;
    height: 450px;
    background-image: url("../../assets/about/desktop/image-hero-whitecup.jpg");
    border-radius: 10px;
    margin-top: 6vh;
}

.textContainer {
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
    margin-left: 5vw;
}

.headerH1 {
    font-family: 'Fraunces 9pt';
    font-weight: 900;
    font-size: 40px;
    color: #FEFCF7;
}

.headerDescription {
    font-family: 'Barlow';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
    width: 23vw;
}

/* Second part ourCommitment */

.ourCommitmentContainer {
    width: 1110px;
    height: 520px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 15vh;
    margin-bottom: 15vh;
}

.ourCommitmentImg {
    width: 445px;
    height: 520px;
    border-radius: 8px;
    background-image: url("../../assets/about/desktop/image-commitment.jpg");
}

.ourCommitmentText {
    width: 540px;
    height: 340px;
}

.ourCommitmentH1 {
    color: #333D4B;
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 40px;
}

.ourCommitmentDescription {
    color: #333D4B;
    font-family: 'Barlow';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

/* Third part quality */

.qualityContainer {
    width: 1280px;
    height: 562px;
    position: relative;
    background-image: url("../../assets/about/desktop/bg-quality.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.qualityText {
    width: 540px;
    height: 210px;
}

.qualityH1 {
    color: #FEFCF7;
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
}

.qualityDescription {
    color: #FEFCF7;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.qualityImg {
    border-radius: 8px;
    background-image: url("../../assets/about/desktop/image-quality.jpg");
    width: 445px;
    height: 474px;
}

/* Four part headquarters */

.headquartersContainer {
    width: 1045px;
    height: 366px;
    margin-top: 15vh;
}

.headquartersH1 {
    color: #83888F;
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 24px;
    margin-bottom: 5vh;
}

.headquartersGrid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* .headquartersCard {

} */

.cardH1 {
    color: #333D4B;
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
}

.cardText {
    color: #333D4B;
    font-family: 'Barlow';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

/* Tablets Responsive */
@media (min-width: 768px) and (max-width: 1023px) {
    body {
        width: 100vw;
    }
    .aboutUsContainer {
        width: 768px;
    }
    .aboutUsHeader {
        width: 689px;
        background-image: url("../../assets/about/tablet/image-hero-whitecup.jpg");
        background-size: cover;
        background-position: center center;
    }
    .headerH1 {
        font-size: 32px;
    }
    .headerDescription {
        width: 398px;
        font-size: 15px;
    }
    .ourCommitmentContainer {
        width: 689px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .ourCommitmentImg {
        width: 281px;
        height: 470px;
        background-image: url("../../assets/about/tablet/image-commitment.jpg"), lightgray 0px 0px / 100% 100% no-repeat;
    }
    .ourCommitmentText {
        width: 339px;
        height: 453px;
    }
    .ourCommitmentH1 {
        font-size: 32px;
    }
    .ourCommitmentDescription {
        width: 339px;
        font-size: 15px;
    }
    .qualityContainer {
        width: 688px;
        height: 648px;
        background-image: none;
        display: flex;
        flex-direction: column-reverse;
        justify-content: end;
    }
    .qualityBackground {
        width: 688px;
        height: 488px;
        background-image: url("../../assets/about/tablet/bg-quality.png");
        border-radius: 10px;
    }
    .qualityText {
        position: absolute;
        margin-bottom: 5vh;
        text-align: center;
    }
    .qualityH1 {
        font-size: 32px;
    }
    .qualityDescription {
        width: 540px;
        font-size: 15px;
    }
    .qualityImg {
        width: 573px;
        height: 320px;
        background-image: url("../../assets/about/tablet/image-quality.jpg");
        position: absolute;
        top: 0;
        z-index: 1;
    }
    .headquartersContainer {
        width: 688px;
        height: 366px;
    }
    .headquartersH1 {
        font-size: 24px;
    }
    .cardH1 {
        font-size: 24px;
    }
    .cardText {
        font-size: 16px;
    }
}